.bank-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 10px;
    /* background-color: #f8f9fa; */
    border: 1px solid white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 32vw;
    height: 75vh;
    max-width: 320px;
}

.stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30vw;
    height: 4vh;
    max-width: 300px;
   
}

.stat-item h3 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.stat-item p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #007bff;
}
