/* ServicesContact.css */

.services-contact-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .services-section, .contact-section {
    margin-bottom: 40px;
    width: 100%;
    max-width: 800px;
  }
  
  .services-section h3, .contact-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .service-item {
    flex: 1 1 30%;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
  }
  
  .service-item h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-section p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 15px;
    /* background-color: red; */
  }
  
  .form-input, .form-textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .form-textarea {
    resize: none;
    height: 100px;
  }
  
  .submit-btn {
    /* padding: 10px 20px; */
    background-color: #3D98B4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #2d7890;
  }
  