 
  .users-container {
    box-sizing: border-box;
    width: 100vw;
    padding: 20px;
    
    
  }
  .users-container h1{
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }
  .data-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .data-table tr:hover {
    background-color: #f5f5f53f;
    cursor: pointer;
  }
  .data-table thead th {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    
    background-color: #f2f2f2; 
  }
  
  .data-table tbody td {
    padding: 8px;
    border: 1px solid #ddd;
    color: #ddd;
  }
  
  .data-table tbody tr {
    transition: background-color 0.2s;
  }
  
  .data-table tbody tr:active {
    background-color: #ddd;
  }
  