.user-dashboard  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .balance {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .transaction-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .transaction-list li {
    margin-bottom: 5px;
  }
  p{
    text-align: center;
  }
  table {
    border-collapse: collapse; /* Remove borders between cells */
    width: 100%; /* Optional: Set table width */
  }
  
  th, td {
    padding: 10px; /* Adjust padding for spacing */
    border: 1px solid #ddd; /* Add table borders */
  }
  
  th {
    text-align: left; /* Align headers to the left */
    font-weight: bold; /* Make headers bolder */
  }
  
  .amount {
    text-align: right; /* Align amounts to the right */
  }
  