
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-right: 1rem;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.navigation a:hover {
    color: #ddd;
}

.logout-btn {
    background-color: #f00;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d00;
}
