.admin-header {
    background-color: #f7eaea9f;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color: black;
    align-items: center;
  }
  
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .header-content {
    flex: 1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  .navigation {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    margin-left: 1rem;
  }
  
  .navigation a {
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 1rem;
  }
  
  .navigation a:hover {
    background-color: #f5f5f5;
  }
  button {
    background-color: #be1818; 
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
  }
  
 button:hover {
    background-color: #f61f0b90; 
  }
  